@import url("https://fonts.googleapis.com/css?family=Caveat|Roboto&display=swap");
.fw-bold {
  font-weight: bold;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: normal;
  background-image: url(/img/parque-tecnologico.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

main {
  display: table;
  width: 100%;
}

.cover {
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  display: table-cell;
}

.cover-logo {
  width: 300px;
}

@media (min-width: 768px) {
  .cover-logo {
    width: 500px;
  }
}

.cover-title {
  font-family: "Caveat", cursive;
  font-size: 22px;
  font-weight: bold;
  margin-top: -12px;
}

.cover-title b {
  color: #AFB42B;
}

@media (min-width: 768px) {
  .cover-title {
    font-size: 36px;
    margin-top: -24px;
  }
}

.cover-subtitle {
  font-family: "Caveat", cursive;
  font-size: 28px;
  margin: 40px 0;
}

@media (min-width: 768px) {
  .cover-subtitle {
    font-size: 47px;
    margin: 64px 0;
  }
}

.cover-text {
  max-width: 320px;
  display: inline-block;
  margin: 8px 0;
}

@media (min-width: 768px) {
  .cover-text {
    font-size: 26px;
    max-width: 520px;
  }
}

.cover-social {
  margin: 24px 0;
}

@media (min-width: 768px) {
  .cover-social {
    margin: 40px 0;
  }
}

.cover-social-link {
  text-decoration: none;
}

.cover-social-link:not(:first-child) {
  margin-left: 24px;
}

@media (min-width: 768px) {
  .cover-social-link:not(:first-child) {
    margin-left: 56px;
  }
}

.cover-social-link-icon {
  height: 40px;
}

@media (min-width: 768px) {
  .cover-social-link-icon {
    height: 56px;
  }
}
