@import url("https://fonts.googleapis.com/css?family=Caveat|Roboto&display=swap");
.fw-bold {
  font-weight: bold;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: normal;
  background-image: url(/img/parque-tecnologico.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

main {
  display: table;
  width: 100%;
}

.cover {
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  display: table-cell;
}

.cover-logo {
  width: 300px;
}

.cover-title {
  font-family: "Caveat", cursive;
  font-size: 22px;
  font-weight: bold;
  margin-top: -8px;
}

.cover-title b {
  color: #AFB42B;
}

.cover-subtitle {
  font-family: "Caveat", cursive;
  font-size: 28px;
  margin: 40px 0 56px;
}

.cover-text {
  max-width: 320px;
  display: inline-block;
  margin: 8px 0;
}

.cover-social {
  margin: 24px 0;
}

.cover-social-link {
  text-decoration: none;
}

.cover-social-link:not(:first-child) {
  margin-left: 24px;
}

.cover-social-link-icon {
  height: 40px;
}
