@import url('https://fonts.googleapis.com/css?family=Caveat|Roboto&display=swap');

$font-caveat: 'Caveat', cursive;
$font-roboto: 'Roboto', sans-serif;

$color-white: #FFFFFF;
$color-lime-700: #AFB42B;

$s: 8px;

.fw-bold {
    font-weight: bold;
}

html,
body {
    font-family: $font-roboto;
    font-size: 16px;
    color: $color-white;
    line-height: normal;
    background-image: url(/img/parque-tecnologico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

main {
    display: table;
    width: 100%;
}

.cover {
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    display: table-cell;

    &-logo {
        width: 300px;
    }

    &-title {
        font-family: $font-caveat;
        font-size: 22px;
        font-weight: bold;
        margin-top: -8px;

        b {
            color: $color-lime-700;
        }
    }

    &-subtitle {
        font-family: $font-caveat;
        font-size: 28px;
        margin: $s*5 0;
    }

    &-text {
        max-width: 320px;
        display: inline-block;
        margin: $s 0;
    }
}